<%- include('./includes/header.ejs') %>

<div class="chat-wrap">
   <div class="userInfo-wrap">
        <h3>CurrentUser Info</h3>
        <p>UserId: <span class="current-user-id"><%= user.userId %></span></p>
        <p>Name: <span class="current-user-name"><%= user.name %></span></p>
        <p>Email: <span class="current-user-email"><%= user.email %></span></p>
        <p>ContactPhone: <span class="current-user-phone"><%= user.contactPhone %></span></p>
        <p><span class="ws-server-url"><%= wsServerUrl %></span></p>
   </div>
   <div class="avalible-users">
        <h3>Avalible Users (id):</h3>
        <ul class="other-users">
            <li>Your ID : <%= user.userId %></li>
        </ul>
    
   </div>
   <div class="find-chat-main-input-wrap">
        <h3>Find Chat</h3>
        <input class="find-chat-input" type="text" placeholder="Find by userId" />
        <div class="find-chat-find-btn-wrap">
            <button class="find-chat-find-btn">Find</button>
        </div>
   </div>

   <div class="create-chat-wrap">
        <h3>Create Chat</h3>
        <input class="create-chat-main-input" type="text" placeholder="userId" />
        <div class="create-chat-btn-wrap">
            <button class="create-chat-btn">Create Chat</button>
        </div>

   </div>
   

    <div class="chat-window-wrap chat-hidden">
        <div class="chat-main-row">
            <div class="chat-messages">
                <div class="chat-message-item">
                    <div class="chat-message-user-info-row">
                        <div class="chat-message-date">12:31 23.03.1989</div>
                        <div class="chat-message-user-from">from user</div>
                        <div class="chat-message-user-from">to user</div>
                    </div>
                    <div class="chat-message-text">
                        text
                    </div>
                </div>
                <div class="chat-message-item">
                    <div class="chat-message-user-info-row">
                        <div class="chat-message-date">12:31 23.03.1989</div>
                        <div class="chat-message-user-from">from user</div>
                        <div class="chat-message-user-from">to user</div>
                    </div>
                    <div class="chat-message-text">
                        text
                    </div>
                </div>
                <div class="chat-message-item">
                    <div class="chat-message-user-info-row">
                        <div class="chat-message-date">12:31 23.03.1989</div>
                        <div class="chat-message-user-from">from user</div>
                        <div class="chat-message-user-from">to user</div>
                    </div>
                    <div class="chat-message-text">
                        text
                    </div>
                </div>
                <div class="chat-message-item">
                    <div class="chat-message-user-info-row">
                        <div class="chat-message-date">12:31 23.03.1989</div>
                        <div class="chat-message-user-from">from user</div>
                        <div class="chat-message-user-from">to user</div>
                    </div>
                    <div class="chat-message-text">
                        text
                    </div>
                </div>
            </div>
        </div>
        
        <div class="chat-keyboard-row">
            <div class="chat-keyboard"><textarea class="chat-input"></textarea></div>
            <div class="chat-send-btn-wrap"><button class="chat-send-btn">Send message</button></div>
        </div>
    </div>

</div>

<%- include('./includes/footer.ejs') %>