<%- include('./includes/header.ejs') %>

<div class="chat-wrap">
   <div class="userInfo-wrap">
        <h3>CurrentUser Info</h3>
        <p>UserId: <span class="current-user-id"><%= user.userId %></span></p>
        <p>Name: <span class="current-user-name"><%= user.name %></span></p>
        <p>Email: <span class="current-user-email"><%= user.email %></span></p>
        <p>ContactPhone: <span class="current-user-phone"><%= user.contactPhone %></span></p>
        <p><span class="ws-server-url"><%= wsServerUrl %></span></p>
   </div>
   <div class="avalible-users">
        <h3>Avalible Users (id):</h3>
        <ul class="other-users">
            <li>Your ID : <%= user.userId %></li>
        </ul>
    
   </div>
   <div class="chat-func-demo-wrap">
        <div class="get-history-demo-wrap">
            <button class="get-history">get history ws</button>
        </div>

        <div class="send-message-demo-wrap">
            <button class="send-message">send Message ws</button>
        </div>
   </div>
  
   

    <div class="chat-window-wrap chat-hidden">
        <div class="chat-main-row">
            <div class="chat-messages">
            </div>
        </div>
        
        <div class="chat-keyboard-row">
            <div class="chat-keyboard"><textarea class="chat-input"></textarea></div>
            <div class="chat-send-btn-wrap"><button class="chat-send-btn">Send message</button></div>
        </div>
    </div>

</div>

<%- include('./includes/footer.ejs') %>